{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tacpas</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

<!--Contact form-->


</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:tacpasglobal@gmail.com">tacpasglobal@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91-7093030651</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/"><span>Tacpas</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
        </ul>
        <ul>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>Tacpas Global Learning </span></h1>
      <p>Pharmacovigilance (PV) is a dynamic and exciting career path for life science and pharmacy graduates with clearly defined milestones. The growth is comparatively faster eventually leading to various Leadership roles within few years. So as a Pharmacy/ Healthcare student, are you “Market Ready” to take this career leap?
At Tacpas, We are focused on one goal: to develop you as a well-trained and effective workforce for this fast-growing PV industry. We aim to accomplish this by providing trainings and educating students on fundamentals of product safety and regulatory compliance and conducting a comprehensive, yet practical assessment of the all the verticals of PV required to create a “Tailor-made” PV Safety Scientist in you.
We will conduct workshops for individuals on safety, clinical, regulatory related activities, processes and documentation. 
</p>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <h3><span>Our Mission, Core Values and Vision</span></h3>
          <p>" Bringing experience to deliver drugs our world can trust ".</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="static/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Our Company Core Values</h3>
            <p class="fst-italic">
              We hold ourselves to a high degree of ethical morals which means being open and honest about everything we do. Our diagnoses follow sound moral principles, which builds the foundation of trust in each other and allows our staff to be empowered and liable.
            </p>
            <ul>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>
                  <h5>Quality</h5>
                  <p>We strive for the highest quality in everything we do by creating a culture of continuous improvements and efficiencies. Our employees are supported with training and development to ensure this high standard is met.</p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  <h5>Agile & Responsive</h5>
                  <p>We are flexible, adaptable and responsive to meet our clients’ needs whilst having patient safety at the forefront of everything we do.</p>
                </div>
              </li>
            </ul>
            <p>
             Global leadership in specialized pharmaceutical services addressing unmet medical needs and patient safety.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row skills-content">

          <div class="row-lg-3">

            <div class="progress">
              <span class="skill">Employed in-field within 180 days after course complition. <i class="val">91%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Median pay rate graduates reported earning. <i class="val">$56532</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Tacpas Global Support <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container" data-aos="zoom-in">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <h3>Check our <span>Courses</span></h3>
          <p style="text-align:left">Tacpas offers a complete menu of solutions delivered in a variety of formats to meet your professional development needs.
            Safety and pharmacovigilance are key activities for ensuring that the right products get to patients at the right time with the right balance of benefits and risks. Optimizing benefit-risk is an important matter not just for regulators, but for all stakeholders, and planning for pharmacovigilance activities and appropriate evidence gathering must be done throughout the medicine lifecycle. TacpasI Learning provides safety and pharmacovigilance professionals with the knowledge needed, from regulations and requirements, to pre-market and post-market monitoring, to stay afloat in the ever-changing world of healthcare
          </p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Drug Safety Scientist</a></h4>
              <p>Responsible for identifying, reporting and following up on adverse effects of drugs. We look at clinical trials, effects of drugs, and ensure that products which are released are safe for the public.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Aggregate Medical Writer</a></h4>
              <p>Medical writers play a very important role at every stage of Drug Development process. They are the most demanding professionals in PV sector. Companies require highly skilled personnel for understanding & writing safety reports.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Drug Safety Physician</a></h4>
              <p>Pharmacovigilance organisations regularly need Drug safety physicians for management of benefit-risk profile, Identification and investigation..</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-lg-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Computer System Validations</a></h4>
              <p>To ensure that a computer based system will produce data or information which meets a set of pre-defined requirements Computer System Validation (CSV) is important.</p>
            </div>
          </div>
          <div class="section-title">
          <p> </p>
          <h2>Tacpas offers a complete menu of solutions delivered in a variety of formats to meet your professional development needs.</h2>
          <p style="text-align:left">Safety and pharmacovigilance are key activities for ensuring that the right products get to patients at the right time with the right balance of benefits and risks. Optimizing benefit-risk is an important matter not just for regulators, but for all stakeholders, and planning for pharmacovigilance activities and appropriate evidence gathering must be done throughout the medicine lifecycle. TacpasI Learning provides safety and pharmacovigilance professionals with the knowledge needed, from regulations and requirements, to pre-market and post-market monitoring, to stay afloat in the ever-changing world of healthcare
          </p>
        </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Syune Nesriyan</h3>
                <h4>Associate </h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Syune arrived at Tacpas, having completed his PhD in Biology at a Swedish University. Despite having worked as a research scientist in Armenia, Poland, and Sweden, he had no US-based experience, which was limiting her ability to pursue a satisfying science focused career After finishing the Clinical Trial Management program at Sollers in Jan. 2019, Syune was hired by Catalyst Pharmaceuticals as a Clinical Research Associate.

                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Martins Akorson</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  “Tacpas Global is a great institution of learning, I had a memorable time attending advance drug safety and pharmacovigilance program. They helped me financially, the lecturers were so friendly and knowledgeable. The internship program was so flexible and on point. They have one of the best career services department with a very dedicated director. Keep it up.”
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Research coordinator</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  "I am very pleased to inform you that I got the job at the Kessler foundation as a research coordinator. Thank you Tacpas for being there for me; giving me the support and encouragement. I truly appreciated it; not just that day but throughout the course. You were always there to help with anything and with a smile.”
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  “I am glad I decided to enrol at Tacpas Global because it paid off in a big way. The Clinical Trial Management course is extensive, and the professors are thorough in delivering the course materials using real life experience and insight. Career Services helped me throughout the interview process, and I landed my dream job with the very first interview after completion from Tacpas. I would recommend Tacpas without hesitation to anyone looking to advance their career.”
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <h3> <span> Carrer Oppertunities </span></h3>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What will you achieve? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    There are a lot of students who now go in for pharmacy graduation due to the sheer width of opportunities that lie before them. There used to be a time where pharmacy students used to become medical representatives or open up medical stores. The scenario has rapidly changed as there are a wide host of options in terms of Research and development of pharma products or look at a career in Quality Assurance, Regulatory Affairs or Pharmacovigilance and even Quality Control in drugs companies.
                  </p>
                  <p>
                  Other than expanding your global safety knowledge, you will enhance your capabilities and compliance in both the regulations and PV Industry’s expectations. With our cumulative experience of more than 20 years in this field, we bring you multiple job opportunities in both Pharmaceutical Companies and Contract Research Organisations (CROs). We also aim to provide a contract services to Pharmaceutical companies and other Contract Research Organisations (CROs) on their safety, regulatory, clinical and medical affairs related activities, processes and documentation. We can help ensure you build and maintain a quality pharmacovigilance department ready for any pharmacovigilance inspections
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Is training platform accessible from any location?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                  Fresher Level job in Pharmacovigilance is DSA (Drug Safety Associate). A Drug safety Associate is mainly involved in case creation, checking for MSI (Minimum safety information - a patient, a reporter, a suspect drug and a adverse event), reconciliation and follow up process, data entry of all information available in the document and medical coding
                  </p>
                  <p>
                  3 Years of experience builds more skill sets as (Medical coding, narrative and scientific writing, good understanding of medical terms and basic understanding of regulatory affairs, ICH-GCP and compliance etc) which can bag him a position as DSS (Drug Safety Scientist).
                  </p>
                  <p>
                  With a Certification in Pharmacovigilance and an overall of 5+ Years experience, candidates can become a Team lead or Team manager based on the company.
                  </p>

                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Eligibility Criteria? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Graduates in any stream are eligible to apply for PHARMACOVIGILANCE Training Course.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section>
<!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
          <p>We are always here to help. If you have requirements/queries about our services; fill up the contact form below and we will do our best to reply within 24 hours.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>1/272,Vikrant Khand,Lucknow, UP 226001 India</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>tacpasglobal@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91-7093030651</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <div class="form-area">  
              <form action="/" method="POST">
                    {% csrf_token %}
                        <input type="text" class="form-control" id="subject" name="Name" placeholder="Name" maxlength="70" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div> 

                    <div class="form-group">
                    <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Message" maxlength="300" rows="7"></textarea>                
                    </div>

                    <button type="submit"  name="submit" class="btn btn-m btn-secondary">Submit</button>
                </form>
           </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Enter your email and subscribe for weekly updates</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3><span>Tacpas Pvt. Ltd.</span></h3>
            <p>
              1/272,Vikrant Khand <br>
              Lucknow, UP 226001<br>
              India <br><br>
              <strong>Phone:</strong> +91-7093030651 <br>
              <strong>Email:</strong> tacpasglobal@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Connect with us through below platforms</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Tacpas pvt ltd</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        Designed by <a href="https://in.linkedin.com/in/viveka-nand-b1159815a">Viveka Nand</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
</body>

</html>